//Generated with typedef.tmpl

{{range .Types}}
{{ if .Schema.Description }}{{ toGoComment .Schema.Description .TypeName  }}{{ else }}// {{.TypeName}} defines model for {{.JsonName}}.{{ end }}
type {{.TypeName}} {{if .IsAlias }}={{end}} {{if gt (len .Schema.UnionElements) 0}} struct {
	union jsonv1.RawMessage
}{{else}}{{.Schema.TypeDecl}}{{end}}

{{$t := .TypeName}}
{{range .Schema.Properties -}}
func (datatype {{$t}}) Get{{.GoFieldName}}() {{.Schema.TypeDecl}} {
{{- if and .Required (not .Nullable)}}
    return datatype.{{.GoFieldName}}
{{- else}}
    if datatype.{{.GoFieldName}} == nil {
        var empty {{.Schema.TypeDecl}}
        return empty 
    }
	return *datatype.{{.GoFieldName}}
{{end -}}
}
{{end}}
{{/* toJson .Schema */}}
{{end}}
